@using Microsoft.AspNetCore.Components.Forms;
@using Microsoft.AspNetCore.Components.Web;

<button type="button" class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#modal"
    style="background-color:var(--main-color);border-color:var(--main-color)">@this.ButtonText</button>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Подтвердение</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> Сохранение данных. Вы точно уверены? </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" action="user/profile_update">
                    @this.ChildContent
                    <input type="submit" value="Сохранить" class="btn btn-success w-100"
                        style="background-color:var(--main-color);border-color:var(--main-color)"/>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [ParameterAttribute, EditorRequired] public string ButtonText { get; set; } = default!;
    [ParameterAttribute] public RenderFragment? ChildContent { get; set; } = default!;
}
