@using ClientApplication.Views.Shared;
@using DatabaseAccess.Models;
@model ClientApplication.ViewModels.UserProfileModel;
@{
    const UserProfileModel.PageMode settingsMode = UserProfileModel.PageMode.Settings;
    const UserProfileModel.PageMode contactMode = UserProfileModel.PageMode.Contacts;

    this.ViewBag.Title = this.Model.Contact.Authorization!.Login;
    var searchingParameters = new ViewDataDictionary(this.ViewData) 
    { 
        ["SortingType"] = this.Model.SortingType, ["ProfileType"] = this.Model.ProfileType,
        ["RecordOnPage"] = this.Model.RecordOnPage, ["CurrentPage"] = this.Model.CurrentPage,
        ["PagesCount"] = this.Model.PagesCount
    };
    const string underlineClass = "border-bottom border-3";
}
@switch(this.Model.Mode)
{
    case UserProfileModel.PageMode.Settings:
    <component type="typeof(ProfilePage)" render-mode="ServerPrerendered" param-Contact="this.Model.Contact"
        param-EditingModel="(ProfileEditingModel)this.ViewBag.EditingModel" param-ErrorMessage="this.Model.ErrorMessage"/>
        break;
    case UserProfileModel.PageMode.Contacts:
        @await this.Html.PartialAsync("ContactList", this.Model.Contact.FriendContactid1Navigations
            .Select(item => item.Contactid2Navigation).ToList(), searchingParameters);
        break;
}
@section Scripts {
    <script src="/_framework/blazor.server.js"></script>
}
@section Supports {
<ul class="navbar-nav my-3 my-sm-0 my-lg-0 navbar-nav-scroll" 
    style="--bs-scroll-height:84px;font-size:13pt;"> 
    <li class="nav-item">
        @this.Html.ActionLink("Контакты", "ProfileInfo", new UserProfileModel { Mode = contactMode },
            new { @class=$"nav-link text-light {(this.Model.Mode == contactMode ? underlineClass : "")}" })
    </li>
    <li class="nav-item">
        @this.Html.ActionLink("Профиль", "ProfileInfo", new UserProfileModel { Mode = settingsMode },
            new { @class=$"nav-link text-light {(this.Model.Mode == settingsMode ? underlineClass : "")}" })
    </li>
</ul>
<div class="vr mx-3 bg-white opacity-75 d-none d-md-block" style="width:2px;"></div>
<a class="btn btn-outline-danger d-flex my-2 my-md-0 mb-3 mb-md-0" href="~/logout" role="button">Выйти</a>
}